body {
	background: #F1F1F6;
}

.header {
	background: #FFFFFF;
	height: 20%;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.input-text {
	background: #F1F1F6;
	border: none;
	width: 55%;
	padding: 8px 8px;
	font-weight: lighter;
	outline: none;
}

.input-comment {
	margin: 5px;
	line-height: 60px;
	border: none;
	border-color: transparent;
	outline: none;
	width: 82%;
}

.bataz-logo {
	width: 4.5%;
	cursor: pointer;
}

img.brand-pic {
	margin-top: 2%;
    border-radius: 50%;
    cursor: pointer;
    width: 7%;
    border: 1px solid;
}

.brand-logo {
	height: 13%;
    width: 13%;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 4%;
}

label.brand-labell {
	line-height: 0px;
}

img.chat-conversation {
	width: 4.5%;
}

.fa-bell {
	float: right;
	margin-top: 1.2%;
	margin-right: 5%;
	font-size: 1.8em;
	cursor: pointer;
}

.fa-bell:hover {
	float: right;
	margin-top: 1.2%;
	margin-right: 5%;
	font-size: 2.2em;
	cursor: pointer;
}

img.chat {
	float: right;
	margin-top: 1%;
	margin-right: 5%;
	cursor: pointer;
}

img.chat:hover {
	float: right;
	margin-top: 1%;
	margin-right: 5%;
	cursor: pointer;
	height: 40px;
	width: 38px;
}

img.chat-icon {
	float: left;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	cursor: pointer;
	/*color: #F95997;*/
	height: 30px;
    width: 28px;
}

img.chat-icon:hover {
	float: left;
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	cursor: pointer;
	/*color: #F95997;*/
	height: 40px;
    width: 38px;
}

img.pic {
	float: right;
	margin-top: 1%;
	border-radius: 50%;
	cursor: pointer;
}

img.author-pic {
	margin-top: 1%;
	border-radius: 50%;
	cursor: pointer;
	width: 7%;
}

.content {
	margin-top: 1%;
    background: #FFFFFF;
    /* height: 40%; */
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
}

div.contained-card {
	margin-top: 0.4%;
}

.content-button-section {
	background: #FFFFFF;
    /* height: 40%; */
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-top: 2px solid #F1F1F6;
    /* float: left; */
}

div.post-1 {
	background: #FFFFFF;
	/*height: 40%;*/
	width: 100%;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	/*border-top: 2px solid #F1F1F6;*/
}

div.post-2 {
	background: #FFFFFF;
	/*height: 40%;*/
	width: 100%;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	/*border-top: 2px solid #F1F1F6;*/
}

div.brands-post {
	background: #FFFFFF;
	/*height: 40%;*/
	width: 100%;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	/*border-top: 2px solid #F1F1F6;*/
}

div.brand-card {
	/*margin-left: 10%;*/
	width: 95%;
	position: absolute;
	/*height: 40%;*/
	display: flex;
	justify-content: center;
	margin-top: -24%;
	/*border-top: 2px solid #F1F1F6;*/
}

a.know-more {
	text-decoration: none;
	cursor: pointer;
	color:#000000;
	font-weight: bold;
}

a.know-more:hover {
	cursor: pointer;
	text-decoration: none;
	color: #F95997;
}

a.chat-with-experts {
	text-decoration: none;
	cursor: pointer;
	color: #F95997;
}

a.chat-with-experts:hover {
	text-decoration: none;
	cursor: pointer;
	color: #000000;
}

div.user-detailed {
	background: #FFFFFF;
	width: 90%;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	margin-top: 1%;
	padding-bottom: 3%;
}

h4.lorem-ipsum {
	font-size: 16px;
	font-weight: bold;
}

label.lorem-ipsum {
	width: 75%;
    margin: 2%;
}

.contained {
	margin-top: 1%;
}

img.post-pic {
	float: left;
	margin: 2%;
	border-radius: 50%;
	cursor: pointer;
	border-collapse: separate;
	border-spacing: 10px solid white;
	border: 1px dashed #E76491;
}

.fa-search {
	position: absolute;
	/*color: grey;*/
	font-size: 1.5em;
	left: 48%;
	margin: 1.2%;
	margin-right: 2%;
	font-weight: lighter;
}

label#search-label {
	position: relative;
	margin: 0.7%;
	width: 55%;
}

.brand-story {
	margin: 5px;
	line-height: 60px;
	border: none;
	border-color: transparent;
	outline: none;
	width: 85%;
}

.camera-button {
	background: #F9FAFC;
    /*border: 1px solid;*/
    /*border-radius: 25/17;*/
    border:1px solid #D5D5D7;
    border-radius: 12px;
    cursor: pointer;
    width: 25%;
    padding: 4px;
}

.camera-button:hover {
	background: #F9FAFC;
    /*border: 1px solid;*/
    /*border-radius: 25/17;*/
    border:1px solid #D5D5D7;
    border-radius: 12px;
    cursor: pointer;
    width: 25%;
    padding: 4px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.video-button {
	background: #F9FAFC;
    /*border: 1px solid;*/
    /*border-radius: 25/17;*/
    border:1px solid #D5D5D7;
    border-radius: 12px;
    cursor: pointer;
    width: 25%;
    padding: 4px;
}

.video-button:hover {
	background: #F9FAFC;
    /*border: 1px solid;*/
    /*border-radius: 25/17;*/
    border:1px solid #D5D5D7;
    border-radius: 12px;
    cursor: pointer;
    width: 25%;
    padding: 4px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.video-section {
	margin: 1.5%;
    float: left;
    /* display: inherit; */
    margin-left: 0%;
    /* margin-right: 0%; */
    /* padding-right: 0px; */
    padding-left: 0px;
}

.post-button {
	background: #FF0040;
    /* border: 1px solid; */
    color: white;
    border-radius: 19px;
    /* border-radius: 12px; */
    /* margin: 2%; */
    margin-top: 1.8%;
    margin-bottom: 0%;
    cursor: pointer;
    width: 60px;
    float: right;
    /* line-height: 10px; */
    padding: 7px;
    /* padding-bottom: 0px; */
    border: none;
    display: inline-block;
}

.post-button:hover {
	background: white;
    /* border: 1px solid; */
    color: #FF0040;
    border-radius: 19px;
    /* border-radius: 12px; */
    /* margin: 2%; */
    margin-top: 1.8%;
    margin-bottom: 0%;
    cursor: pointer;
    width: 60px;
    float: right;
    /* line-height: 10px; */
    padding: 7px;
    /* padding-bottom: 0px; */
    border: none;
    display: inline-block;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.posted-text {
	font-weight: bold;
	font-size: 14px;
	margin: 0px;
}

.right-sidebar {
	float: right;
}

div.contest-section {
	margin-top: 3%;
    margin-left: -90%;
    padding-right: 5%;
    background: #FFFFFF;
    /* height: 40%; */
    width: 230%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

div.chat-with-experts {
	/*margin-top: 1%;*/
    margin-left: -90%;
    padding-right: 5%;
    background: #FFFFFF;
    /* height: 40%; */
    width: 230%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-top: 5%; 
    line-height: 65px;
    padding-left: 5%;
    color: #F95997;
    font-weight: 600;
    cursor: pointer;
}

div.chat-with-experts:hover {
	/*margin-top: 1%;*/
    margin-left: -90%;
    padding-right: 5%;
    background: #FFFFFF;
    /* height: 40%; */
    width: 230%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-top: 5%; 
    line-height: 65px;
    padding-left: 5%;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
}

div.trending {
	/*margin-top: 1%;*/
    margin-left: -90%;
    padding-right: 5%;
    background: #FFFFFF;
    /* height: 40%; */
    width: 230%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-top: 5%; 
    line-height: 65px;
    padding-left: 5%;
    color: #000000;
    font-weight: 600;
}

img.flame {
	height: 25px;
	margin-left: 6%;
}

label.trending {
	position: absolute;
    margin: 4%;
    margin-top: 2%;
    margin-left: 10%;
}

.fa-trophy {
	font-size: 1.8em;
	cursor: pointer;
	color: #B3B3B7;
}

.fa-trophy:hover {
	font-size: 2.4em;
	cursor: pointer;
	color: #B3B3B7;
}

.contest-ongoing {
	margin-bottom: 0px;
    font-weight: 100;
    color: #393939;
    font-weight: 600;
    /* display: inherit; */
    position: absolute;
    margin-top: 9%;
    margin-left: 5%;
}

.all-contest {
	/*position: absolute;*/
    margin-bottom: 0px;
    float: right;
    margin-top: -1.5%;
    color: #F95997;
    margin-right: 2%;
    cursor: pointer;
}

.all-contest:hover {
	/*position: absolute;*/
    margin-bottom: 0px;
    float: right;
    margin-top: -1.5%;
    color: black;
    margin-right: 2%;
    cursor: pointer;
}

.contest-div {
	width: 100%;
    /* margin-top: 5%; */
    padding-top: 5%; 
    line-height: 65px;
    padding-left: 5%;
}

h4.contest {
	margin: 0px;
	font-size: 16px;
	cursor: pointer;
}

h4.contest:hover {
	margin: 0px;
	font-size: 16px;
	color: #E56091;
	cursor: pointer;
	/*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
}

img.behind-the-boat {
	height: 250px;
    width: 368px;
}

.after-contest {
	display: flex;
    justify-content: center;
	background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('assets/Men.jpg');
	background-size: cover;
	height: 250px;
    width: 102.5%;
    /*visibility: hidden;*/
}

img.lee-logo {
	/*background-image: url('assets/lee.jpg');*/
	/*background-size: contain;*/
	height: 30px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 4%;
}

.div-text {
	font-size: 16px;
	margin-top: 20%;
	color: black;
    width: 60%;
    text-align: center;
}

button.participate {
	margin-top: 11%;
    background-color: #FFFFFF;
    border: none;
    border-radius: 25px;
    color: #E56091;
    font-weight: bold;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button.participate:hover {
	margin-top: 11%;
    background-color: #E56091;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div.users {
	margin-left: -90%;
    padding-right: 5%;
    background: #F7F7F7;
    /* height: 40%; */
    width: 230%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-top: 5%; 
    line-height: 65px;
    padding-left: 5%;
    color: #000000;
    font-weight: 600;
}
div.brands {
	margin-left: -90%;
    padding-right: 5%;
    background: #F7F7F7;
    /* height: 40%; */
    width: 230%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-top: 5%; 
    line-height: 65px;
    padding-left: 5%;
    color: #000000;
    font-weight: 600;
}
div.brandds {

}
div.tag-line {
	margin-left: -90%;
    padding-right: 5%;
    /*background: #F7F7F7;*/
    /* height: 40%; */
    width: 230%;
    /*box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);*/
    /*transition: 0.3s;*/
    padding-top: 5%; 
    line-height: 65px;
    padding-left: 5%;
    color: #000000;
    font-weight: 600;
}
div.user-count {
	/*width: 200%;*/
	border-bottom: 1px solid #e6e6e6;
}
img.user {
	height: 35px;
	margin-left: 5%;
	cursor: pointer;
}

img.user:hover {
	height: 45px;
	margin-left: 5%;
	cursor: pointer;
}

label.rank {
	float: right;
}

label.name {
	font-weight: lighter;
	margin: 2%;
}

a.view-profile {
	display: inherit;
    margin: 0px;
    text-decoration: none;
    /* display: inherit; */
    margin-top: 15%;
    font-size: 12px;
    color: #FF438C;
    font-weight: bold;
    cursor: pointer;
    line-height: 0px;
    padding: 0px;
}

a.view-profile:hover {
	display: inherit;
    margin: 0px;
    text-decoration: none;
    /* display: inherit; */
    margin-top: 15%;
    font-size: 12px;
    line-height: 0px;
    padding: 0px;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
}

h4.name {
	margin: 0px;
    margin-top: 0%;
    font-size: 14px;
    color: #424342;
    cursor: pointer;
}

h4.name:hover {
	margin: 0px;
    margin-top: 0%;
    font-size: 14px;
	color: #424342;
	cursor: pointer;
	text-decoration: underline;
}

label.profile-name {
	margin-top: 10%;
    margin-left: 10%;
    position: absolute;
}

label.rank {
	margin-top: 6%;
	float: right;
	padding-right: 20px;
}

h4.rank {
	font-size: 14px;
    margin: 0px;
    margin-top: 25%;
    color: #676767;
    cursor: pointer;
}

h4.rank:hover {
	font-size: 14px;
    margin: 0px;
    margin-top: 25%;
	color: #FF438C;
	cursor: pointer;
}

label.view-all {
	margin-top: 5%;
	padding-right: 10px;
	float: right;
}

h4.view-all {
	font-weight: lighter;
	font-size: 14px;
	color: #FF438C;
	cursor: pointer;
}

h4.view-all:hover {
	font-weight: lighter;
	font-size: 14px;
	color: #000000;
	cursor: pointer;
}

h4.brand-name {
	font-size: 14px;
	margin: 0px;
	cursor: pointer;
}

h4.brand-name:hover {
	font-size: 14px;
	margin: 0px;
	cursor: pointer;
	text-decoration: underline;
}

h4.followers {
	font-size: 12px;
	margin: 0px;
	margin-top: 5px;
	color: grey;
}

label.brand-label {
	position: absolute;
	margin: 10%;
}

button.Follow {
	float: right;
    margin-top: 5%;
    background-color: #5A50ED;
    border: none;
    color: white;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    line-height: 0px;
    border-radius: 25px;
    font-weight: lighter;
}

button.Follow:hover {
	float: right;
    margin-top: 5%;
    background-color: white;
    border: none;
    color: #5A50ED;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    line-height: 0px;
    border-radius: 25px;
    font-weight: lighter;
}

button.Followed {
	float: right;
    /* margin-top: 5%; */
    background-color: #F9FAFC;
    border: 1px solid lightgrey;
    color: #E76B9F;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    line-height: 0px;
    border-radius: 25px;
    font-weight: lighter;
    margin-top: 3%;
    margin-right: 3%;
}

button.Followed:hover {
	float: right;
    /* margin-top: 5%; */
    background-color: #E76B9F;
    border: 1px solid lightgrey;
    color: #F9FAFC;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    line-height: 0px;
    border-radius: 25px;
    font-weight: lighter;
    margin-top: 3%;
    margin-right: 3%;
}

button.Followw {
	float: right;
    /*margin-top: 5%;*/
    background-color: #5A50ED;
    border: none;
    color: white;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    line-height: 0px;
    border-radius: 25px;
    font-weight: lighter;
    margin-top: 2%;
}

button.Followw:hover {
	float: right;
    /*margin-top: 5%;*/
    background-color: white;
    border: none;
    color: #5A50ED;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    line-height: 0px;
    border-radius: 25px;
    font-weight: lighter;
    margin-top: 2%;
}

div.detail-header {
	margin-top: 2%;
	/*font-weight: bold;*/
}

div.detailed-content {
	margin: 2%;
}

div.detail-footer {
	margin: 2%;
    margin-top: 7%;
}

div.brand-pics {
	margin: 3%;
	padding-bottom: 3%;
	border-bottom: 1px solid #e6e6e6;
}

img.brand-style {
	height: 100px;
    width: 32.5%;
}

h4.privacy {
	margin: 0px;
	font-size: 12px;
}

h4.terms {
	margin: 0px;
	font-size: 12px;
}

.fa-camera {
	cursor: pointer;
}

.fa-camera:hover {
	cursor: pointer;
	font-size: 1.8em;
}

.fa-video {
	cursor: pointer;
}

.fa-video:hover {
	cursor: pointer;
	font-size: 1.8em;
}

h4.camera-text {
	margin: 0px;
	font-weight: lighter;
	font-size: 14px;
	cursor: pointer;
}

label.camera-text {
	margin: 0px;
}

h4.camera-text:hover {
	margin: 0px;
	font-weight: lighter;
	font-size: 16px;
	cursor: pointer;
}

h4.faqs {
	margin: 0px;
	font-size: 12px;
}

p.copy-right {
	margin: 0px;
	font-size: 12px;
    line-height: 0px;
    font-weight: lighter;
    line-height: 18px;
    display: flex;
    justify-content: center;
}

p.copy-right2 {
	margin: 0px;
	font-size: 12px;
	margin-top: 2%;
    line-height: 0px;
    font-weight: lighter;
    line-height: 18px;
    display: flex;
    justify-content: center;
    padding-bottom: 20%;
}

div.user-details {
	margin-top: 1%;
	padding-bottom: 3%;
}

label.user-story {
	position: absolute;
	margin: 3%;
    margin-top: 2%;
}

h4.username {
	margin: 0px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

h4.username:hover {
	margin: 0px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

h4.yesterday {
	margin: 0px;
	font-size: 12px;
	margin-top: 5%;
	color: grey;
}

img.menu {
	float: right;
	margin-top: 1%;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

div.user-post {
	margin-top: 0%;
	padding-bottom: 1%;
}

h4.post-text {
	margin-top: 0px;
	font-size: 14px;
	font-weight: lighter;
}

img.img-sholey {
	width: 100%;
}

label.branded {
	border: 1px solid lightgrey;
    padding: 4px 8px;
    border-radius: 25px;
    line-height: 0px;
    background: #F9FAFC;
}

h4.branded-text {
	margin: 0px;
	font-size: 14px;
	color: #D64385;	
}

h4.branded-text {
	margin: 0px;
	font-size: 14px;
	color: #D64385;
}

div.post-footer {
	line-height: 50px;
	border-bottom: 1px solid lightgrey;
}

label.price {
	float: right;
	padding-right: 2%;
	margin-top: 2.8%;
}

h4.price-text {
	margin: 0px;
	font-size: 14px;
	font-weight: lighter;
}

img.clapping {
	height: 18px;
	cursor: pointer;
}

img.clapping:hover {
	height: 28px;
	cursor: pointer;
}

img.chatt {
	height: 18px;
	margin-left: 5%;
	cursor: pointer;
}

img.chatt:hover {
	height: 28px;
	margin-left: 5%;
	cursor: pointer;
}

img.share-512 {
	height: 18px;
	margin-left: 5%;
	cursor: pointer;
}

img.share-512:hover {
	height: 28px;
	margin-left: 5%;
	cursor: pointer;
}

h4.clapping {
	margin: 0px;
    font-size: 14px;
    cursor: pointer;
}

/*h4.clapping:hover {
	margin: 0px;
    font-size: 16px;
    cursor: pointer;
}*/

h4.comment {
	margin: 0px;
    font-size: 14px;
    cursor: pointer;
}

/*h4.comment:hover {
	margin: 0px;
    font-size: 16px;
    cursor: pointer;
}*/

h4.share {
	margin: 0px;
    font-size: 14px;
    cursor: pointer;
}

/*h4.share:hover {
	margin: 0px;
    font-size: 16px;
    cursor: pointer;
}*/

div.status {
	margin-top: 2%;
	padding-bottom: 2%;
	border-bottom: 1px solid lightgrey;
}

img.kid-elephant {
	height: 25px;
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
}

img.kid-elephant:hover {
	height: 40px;
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
}

img.more {
	height: 18px;
	margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
}

img.more:hover {
	height: 28px;
	margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
}

img.lee1 {
	width: 100%;
}

a {
	color: #000000;
	text-decoration: underline;
}

label.rest-label {
	float: right;
    /* margin-right: 10%; */
    width: 45%;
}

div.adds {
	position: absolute;
	margin-top: 10%;
}

img.add-images {
	height: 150px;
    width: 30.4%;
}